#carImg{
    width: 600px;
    height: 500px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.information{
    position: relative;
    top: 20px;
    right: 20px;
    width: 300px;
    padding: 20px;
    background-color: black;
    font-weight: bold;
    margin-bottom: 10px;
}