

#creditDocumentationForm {
    position: fixed;
    z-index: 15;
    top: 230px;
    left: 820px;
}
#cd-header {
    position: fixed;
    z-index: 30;
    color: #6a6464;
    top: 160px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(206, 205, 205, 0.5);
    right: 140px;
}
.creditvalidation-foto{
    width: 50%; /* add this line to make the foto take up only half of the page */
    height: 100%;
    font-family: sans-serif;
    margin-top: 0px;
    background-image: url("h.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    filter: brightness(0.40);
    box-shadow: white;

}
.creditValidation-box {
    padding: 390px;
    max-width: 1800px;
    background: linear-gradient(to bottom, #ffffff, #383737);
    position:fixed;
    z-index: 9;
    left: 713px;
    top: 65px;
}
.submit-btn{
    position: fixed;
    z-index: 30;
    color: #404047;
    left: 1250px;
    bottom: 150px;
    background: white;
}
.submit-btn:hover{
    color:white;
    background:green;
}