
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.home-foto{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin-top: 0px;
    background-image: url("d.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    filter: blur(0.6) brightness(0.5);
}

.navbar {
    background-color: white;
    border: 2px solid #80a8ce;
}

#menuHeader {
    background-color: #ffffff;
    font-family: ".SF NS Display", sans-serif;
    font-weight: bold;
    padding: 40px;
    align-items: center;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 30px 0;
    position: -ms-device-fixed;
}

#positionForlogout{
    position: absolute;
    top: 36px;
    right: 55px;
}

#logout-style {
    color: #1a1818;

}
#logout-style:hover{
    color: #8fbbde;
}

#logo {
    margin-right: 10px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.links {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 0 5px; /* Add margin between nav items */
}



.vertical-line {
    border-left: 2px solid black;
    height: 100%;
    margin: 0 10px;
}

.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
    font-size: 16px; /* Set the same font size as other nav items */
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #73a2c2;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: #73a2c2;
    z-index: 1;
}

#dropdown-1-placement {
    top: 2px;
    right: -655px;
}
#dropdown-2-placement {
    top: 2px;
    right: -785px;
}
#dropdown-3-placement {
    top: 2px;
    right: -1070px;
}
#dropdown-4-placement {
    top: 2px;
    right: -965px;
}
#dropdown-5-placement {
    top: 2px;
    right: -1260px;
}


.dropdown:hover .dropdown-content {
    display: block; /* Show the dropdown content when hovering over the dropdown button */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #8fbbde;
}



#Leasing-botton,
#Skade-botton,
#KPI-botton,
#After-botton,#Staff-botton {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    padding: 12px 24px;
    border: 1px solid #80a8ce;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    position: fixed;
    z-index: 35;
}


#Skade-botton {
    top: 1px;
    left: 616px;
    padding: 31px 30px;
}

#KPI-botton {
    left: 841px;
    padding: 31px 31px;
    top: 1px;
}
#Leasing-botton {
    left: 500px;
    padding: 31px 25px;
    top: 1px;
}

#After-botton {
    top: 1px;
    left: 925px;
    padding: 31px 30px;
}

#Staff-botton {
    top: 1px;
    left: 1120px;
    padding: 31px 50px;
}

#Leasing-botton:hover,#Skade-botton:hover,#KPI-botton:hover,#After-botton:hover,#Staff-botton:hover{
    background-color: #8fbbde;
    transition: all 0.2s ease-in-out;
}



