
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.home-foto {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin-top: 0px;
    background-image: url(images/bil.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    filter: blur(0.6) brightness(0.5);
    top: 83px
}

.back-foto {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin-top: 0px;
    background-image: url(images/bagground.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    filter: blur(0.6) brightness(0.5);
    top:83px;
    z-index: -1;
}



.faq-foto {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin-top: 0px;
    background-image: url(images/guidance.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 100%;
}

.footer-foto {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin-top: 0px;
    background-image: url(images/footer.PNG);
    background-repeat: no-repeat;
    background-size: contain; /* Change this value */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 200%;
}


.navbar {
    background-color: white;
    border: 1px solid #80a8ce;
    width: 100%;
    height: 81px;
    position: fixed;
    z-index: 35;
}

#menuHeader {
    background-color: #ffffff;
    font-family: ".SF NS Display", sans-serif;
    font-weight: bold;
    padding: 40px;
    align-items: center;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 30px 0;
    position: -ms-device-fixed;
    /* position: relative; */
    position: fixed;
    z-index: 2;
    width: 1000px;
}

#positionForlogout{
    top: 36px;
    right: 55px;
    position: fixed;
    z-index: 40;
    background-color: #f9f9f9;
}

#logout-style {
    color: #1a1818;

}
#logout-style:hover{
    color: #8fbbde;
}

#logo {
    margin-right: 10px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.links {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 0 5px; /* Add margin between nav items */
}



.vertical-line {
    border-left: 2px solid black;
    height: 100%;
    margin: 0 10px;
}

.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
    font-size: 16px; /* Set the same font size as other nav items */
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #73a2c2;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: #73a2c2;
    z-index: 40;
}

#dropdown-1-placement {
    top: 82px;
    right: -655px;
}
#dropdown-2-placement {
    top: 83px;
    right: -785px;
}
#dropdown-3-placement {
    top: 83px;
    right: -1070px;
}
#dropdown-4-placement {
    top: 83px;
    right: -965px;
}
#dropdown-5-placement {
    top: 83px;
    right: -1260px;
}


.dropdown:hover .dropdown-content {
    display: block; /* viser dropdown når man går over det */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #8fbbde;
}



#Leasing-botton,
#Skade-botton,
#KPI-botton,
#After-botton ,#Staff-botton,#Leasing-botton-disable,#Skade-botton-disable,#KPI-botton-disable,#After-botton-disable,#Staff-botton-disable {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    padding: 12px 24px;
    border: 1px solid #80a8ce;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    position: fixed;
    z-index: 35;
}

#Leasing-botton {
    left: 500px;
    padding: 31px 25px;
    top: 1px;
}

#Skade-botton {
    top: 1px;
    left: 616px;
    padding: 31px 30px;
}

#KPI-botton {
    left: 841px;
    padding: 31px 31px;
    top: 1px;
}

#After-botton {
    top: 1px;
    left: 925px;
    padding: 31px 30px;
}

#Staff-botton {
    top: 1px;
    left: 1120px;
    padding: 31px 50px;
}

#Leasing-botton-disable {
    left: 500px;
    padding: 31px 25px;
    top: 1px;
}


#Skade-botton-disable {
    top: 1px;
    left: 616px;
    padding: 31px 30px;
}

#KPI-botton-disable {
    left: 841px;
    padding: 31px 31px;
    top: 1px;
}

#After-botton-disable {
    top: 1px;
    left: 925px;
    padding: 31px 30px;
}

#Staff-botton-disable {
    top: 1px;
    left: 1120px;
    padding: 31px 50px;
}


#Leasing-botton:hover,#Skade-botton:hover,#KPI-botton:hover,#After-botton:hover,#Staff-botton:hover{
    background-color: #8fbbde;
    transition: all 0.2s ease-in-out;
}

.basic-box {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 2;
    width: 750px;
    height: 500px;
    top: 200px;
    left: 350px;
}


#cd-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #494646;
}

.q1{
    margin-left: 100px;
    margin-top: -30px;
    font-family: unset;
}

.q2 {
    margin-left: 100px;
    margin-top: -20px;
    font-family: unset;

}

.q3 {
    margin-left: 100px;
    margin-top: -10px;
    font-family: unset;
}

.q4 {
    font-family: unset;
    z-index: 45;
    position: fixed;
    margin-top: 35%;
    margin-left: 53%;

}

.submit-btn {
    margin-left: 620px;
    margin-top: 30px;
    color:black;
}

.submit-btn:hover {
    background-color:#8fbbde;
    color: #000000;
}

#logo-alone {
    z-index: 36;
    position: fixed;
    background-image: url(images/logo.png);
}


.kp-foto {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin-top: 0px;
    background-image: url(images/kpi.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    filter: blur(0.6) brightness(0.5);
    top:83px;
    z-index: -1;
}
.circle-kpi {
    position: fixed;
    margin-top: 27%;
    margin-left: 62%;
    z-index: 45;
    font-size: 26px;
    color: #000000;
    font-family: monospace;
}


.f-foto {
    width: 100%;
    height: 80%;
    font-family: sans-serif;
    margin-top: 0px;
    background-image: url(images/bagground.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 45;
}

#carImg {
    position: absolute;
    position: fixed;
    z-index: 45;
    top: 200px;
    left: 510px;
    filter: brightness(0.6);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    height: 60%;

}

.model-view {
    margin-top: 300px;
    margin-left: 120px;
}

.brand-view {
    margin-top: 290px;
    margin-left: 120px;
}

.car_odometer-view {
    margin-top: 100px;
}

.car_plate-view {
    margin-top: 90px;
}

.car_vin-view {
    margin-top: 80px;
}

#car_location-view {
    margin-top: -80px;
    padding: -100px 30px;
    position: fixed;
    left: 110px;
    color: black;
    border: 2px;
}






