.car-container {
    /* Set the display to flex and wrap items to the next line */
    display: flex;
    flex-wrap: wrap;
    /* Center items horizontally */
    justify-content: center;
    /* Add margin to the top */
    margin-top: 80px;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

/* Style for each car on display */
.car-box {
    /* Set width and height */
    width: 300px;
    height: 200px;
    top: 60px;
    /* Add margin to create some space between cards */
    margin: 20px;
    /* Add rounded corners to the card */
    border-radius: 5px;
    /* Add a box shadow for a 3D effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Add a transition effect when hovering over the card */
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.car-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
