.home-foto{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin-top: 0px;
    background-image: url("n.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
}


#menuHeader {
    background-color: #ffffff;
    font-family: ".SF NS Display", sans-serif;
    position: fixed;
    font-weight: bold;
    color: #000000;
    padding: 30px;
    font-size: 35px;
    padding: 30px 1200px;
    z-index: 10;
    width: 100%;
    left: -1170px;
    top: 0;
    border: 2px solid #3e3838;
}

body {
    font-family: Lato, sans-serif;
    line-height: 0.5;
    background: white;
}

#Leasing-botton:hover,#Skade-botton:hover,#KPI-botton:hover,#Ekstra-botton:hover{
    background-color: #96959c;
    transition: all 0.2s ease-in-out;
}

#Leasing-botton,
#Skade-botton,
#KPI-botton,
#Ekstra-botton {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    padding: 12px 24px;
    border: 1px solid #000000;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    position: fixed;
    z-index: 10;
}


#Skade-botton {
    top: 0;
    left: 539px;
    padding: 35px 30px;
}

#KPI-botton {
    top: -40px;
    left: 753px;
    padding: 35px 30px;
}
#Leasing-botton {
    top: -40px;
    left: 404px;
    padding: 35px 40px;
}

#Ekstra-botton {
    top: 0;
    left: 841px;
    padding: 35px 30px;
}


#positionForlogout{
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 10;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: white; /* Set the background color to white */
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black; /* Set the font color to black */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black; /* Set the font color to black */
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #96959c; /* Set the background color on hover */
    color: white; /* Set the font color on hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.car-box {
    border: 3px solid #a5daee;
    padding: 105px;
    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, #80d0de, #70bdde);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    position: relative;
    z-index: 2;
    top:35px;
    width: 200px;

}

.car-box h1 {
    margin-top: 0;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    bottom: 45px;
    color: #74d1e7;
    margin-left: 30px;
}
