<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/d17da6709b.js"> </script>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="custumer.css">

</head>
<body>
<div id="positionForlogout">
    <a href="/" class="logout-button">
        <i class="fa-solid fa-right-from-bracket fa-xl" id="logout-style"></i>
    </a>
</div>

<div class="navbar">
    <div id="menuHeader" onclick="window.location.href='/homePage'">
        <div class="nav-item">
            <a href="/homePage" id="logo"></a>
        </div>
    </div>

    <div class="links">
        <div class="dropdown nav-item">
            <div th:if="${session.staff_member.member_type_id == 1 || session.staff_member.member_type_id == 4}">
                <button class="dropbtn" id="Leasing-botton"> Leasing
                </button>
            </div>
            <div class="dropdown-content" id="dropdown-1-placement">
                <a href="/carLeasing">Ledige biler</a>
                <a href="/customerPage">Alle kunder</a>
                <a href="/viewContracts">Alle kontrakter</a>
            </div>
        </div>

        <div th:unless="${session.staff_member.member_type_id == 1 || session.staff_member.member_type_id == 4}">
            <button disabled class="dropbtn" id="Leasing-botton-disable"> Leasing
            </button>
        </div>


        <div class="dropdown nav-item">
            <div th:if="${session.staff_member.member_type_id == 3 || session.staff_member.member_type_id == 4}">
                <button class="dropbtn" id="Skade-botton" >Skade og Udbedring
                </button>
            </div>

            <div class="dropdown-content" id="dropdown-2-placement">
                <a href="/conditionReportDocumentation" >Opret tilstandsrapport </a>
                <a href="/viewContracts">Alle kontrakter</a>
            </div>
        </div>

        <div th:unless="${session.staff_member.member_type_id == 3 || session.staff_member.member_type_id == 4}">
            <button disabled class="dropbtn" id="Skade-botton-disable"> Skade og Udbedring </button>
        </div>


        <div class="dropdown nav-item">

            <div th:if="${session.staff_member.member_type_id == 2 || session.staff_member.member_type_id == 4}">
                <button class="dropbtn" id="After-botton" >Efterbehandling </button>
            </div>

            <div class="dropdown-content" id="dropdown-3-placement">
                <a href="/findReviewTarget">Kundeanmeldelse</a>
                <a href="/auction">Auktion </a>
                <a href="/viewContracts">Alle kontrakter</a>
            </div>
        </div>

        <div th:unless="${session.staff_member.member_type_id == 2 || session.staff_member.member_type_id == 4}">
            <button disabled class="dropbtn" id="After-botton-disable" >Efterbehandling
            </button>
        </div>

        <div class="dropdown nav-item">
            <div th:if="${session.staff_member.member_type_id == 2 || session.staff_member.member_type_id == 4}">
                <button class="dropbtn" id="KPI-botton">PA
                </button>
            </div>
            <div class="dropdown-content" id="dropdown-4-placement">
                <a href="/KPICar">Lagerstatus</a>
                <a href="/KPIEconomy">KPI</a>

            </div>
        </div>

        <div th:unless="${session.staff_member.member_type_id == 2 || session.staff_member.member_type_id == 4}">
            <button disabled class="dropbtn" id="KPI-botton-disable">KPI
            </button>
        </div>

        <div class="dropdown nav-item">
            <div th:if="${session.staff_member.member_type_id == 4}">
                <button class="dropbtn" id="Staff-botton" >Personale
                </button>
            </div>
            <div class="dropdown-content" id="dropdown-5-placement">
                <a href="/createStaffMember">Opret ny medarbejder</a>
                <a href="/allStaffMembers">Alle medarbejdere</a>
            </div>
        </div>

        <div th:unless="${session.staff_member.member_type_id == 4}">
            <button disabled class="dropbtn" id="Staff-botton-disable" >Personale
            </button>
        </div>

    </div>
</div>
</div>
</div>

<div class="back-foto">
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="cd-header" style="margin-left: -935px;">Biler i auktion</div>

<table>
    <thead>
    <tr>
        <th>Bil nummer</th>
        <th>Bil model</th>
        <th>Bil brand</th>
        <th>Sælg</th>
    </tr>
    </thead>
    <tbody>

<tr th:if="${cars_in_auction != null}" th:each="car_in_auction: ${cars_in_auction}"> <br>
    <td>
        <span name="car_id" th:text="${car_in_auction.car_id}"></span> <br>
    </td>
    <td>
        <span name="car_model" th:text="${car_in_auction.car_model}"></span> <br>

        </td>
    <td>
        <span name="car_brand" th:text="${car_in_auction.car_brand}"></span> <br>
    </td>
    <td>

        <form th:action="@{/sellCar}" method="post">

            <button>Marker som solgt</button>

            <input type="hidden" name="car_id" th:value="${car_in_auction.car_id}">

        </form>

    </td>
</tr>

    </tbody>
</table>
</div>
</body>
</html>