<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action="/buyCar" method="post">
    <div id="car-form" style="margin-left: 40px;">
      <p style="display:inline-block;">Car Brand:</p>
      <input type="text" name="car_brand" class="input-box" placeholder="Car Brand" required>

      <p style="display:inline-block;">Car Model:</p>
      <input type="text" name="car_model" class="input-box" placeholder="Car Model" required>

      <p style="display:inline-block;">Car Plate:</p>
      <input type="text" name="car_plate" class="input-box" placeholder="Car Plate" required>

      <p style="display:inline-block;">Car Odometer:</p>
      <input type="number" name="car_odometer" class="input-box" placeholder="Car Odometer" required>

      <p style="display:inline-block;">Car VIN:</p>
      <input type="number" name="car_vin" class="input-box" placeholder="Car VIN" required>

      <p style="display:inline-block;">Car Location:</p>
      <input type="text" name="car_location" class="input-box" placeholder="Car Location">

      <p style="display:inline-block;">Image:</p>
      <input type="text" name="image" class="input-box" placeholder="Image URL">

      <p style="display:inline-block;">Subscription Price:</p>
      <input type="number" name="subscription_price" class="input-box" placeholder="Subscription Price" required>
    </div>

    <input type="submit" value="Buy Car">
  </div>
</form>
</body>
</html>