<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/carinformation.css">
</head>
<body>

<div class="information" style="display: flex; flex-wrap: wrap;">
    <div th:each="car: ${cars}">
        <p class="car_odometer" th:text="${car.car_odometer}"></p>
        <p class="car_plate" th:text="${car.car_plate}"></p>
        <p class="car_vin" th:text="${car.car_vin}"></p>
        <p class="brand" th:text="${car.car_brand}"></p>
        <p class="model" th:text="${car.car_model}"></p>
        <p class="subscription" th:text="${car.subscription_price}"></p>
        <img th:src="${car.image}" id="carImg"/>
    </div>
</div>
<!--  <img th:src="@{'data:image/jpeg;base64,'+ #strings.encodeBase64(image)}"/> -->

</div>
</body>
</html>