<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/carinformation.css">

    <link rel="stylesheet" type="text/css" href="/home.css">
    <script src="https://kit.fontawesome.com/d17da6709b.js"> </script>
</head>
<body>
<div id="menuHeader">
    Bilabonnement.dk
</div>
<a href="/Leasing" style="margin-top: 40px; color: black;" id="Leasing-botton">Leasing</a>
<a href="/Skade og Udbedring" style=" color: black;" id="Skade-botton">Skade og Udbedring</a>
<a href="/KPI" style="margin-top: 40px; color: black;" id="KPI-botton">KPI</a>
<a href="/Ekstra" style=" color: black;" id="Ekstra-botton">Ektra</a>


<div id="positionForlogout">
    <a href="/" class="logout-button">
        <i class="fa-solid fa-right-from-bracket fa-xl" style="color: gray;"></i>
    </a>
</div>

<div class="home-foto">
</div>
<nav>
    <ul>
    </ul>
</nav>

<p id="car_model" ></p>
<div class="information" style="display: flex; flex-wrap: wrap;">
    <!--div th:each="car: ${cars}"-->

        <h1 class="model" th:text="'Model: ' +${car.car_model}"></h1>

        <input class="model" text="brand" th:value=" 'Brand: '+ ${car.car_brand}" readonly>

        <input class="car_odometer" th:value="'Nuværende kilometer: '+ ${car.car_odometer}"readonly>

        <input class="car_plate" th:value="'Nummerplade: '+ ${car.car_plate}"readonly>

        <input class="car_vin" th:value="'Steelnummer: '+${car.car_vin}"readonly>

        <input class="subscription" th:value="'Månedligt abonnement: '+${car.subscription_price} +'kr'"readonly>


        <form th:action="@{/carSelected/{car_id}(car_id=${car.car_id})}" method="post">
        <label for="car_location" style="color:cornflowerblue; :font-size:160%;"> See pickup locations:</label>
        <select id="car_location"  name="car_location"  required>
        <option value="køge"> Køge   </option>
            <option value="Nørrebro"> Nørrebro    </option>
            <option value="valby"> Valby    </option>
            <option value="Østerbro"> Østerbro    </option>
            <option value="Dragør"> Dragør    </option>
            <option value="Kongens Nytorv"> Kongens Nytorv    </option>
        </select>
            <a th:href="@{'/customerForm/'+${car.car_id}}">
                <button class="customer-form">NÆSTE</button>
            </a>
            <img th:src="${car.image}" id="carImg"/>
        </form>

</div>
</body>
</html>