<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</style>
</head>
<body>
<form method="post" th:action="@{/process-form}" onsubmit="return validateForm()">
    <p>Har du modtaget kundens lønsedler?</p>
    <label><input type="radio" name="q1" value="ja" required> Ja</label>
    <label><input type="radio" name="q1" value="nej"> Nej</label>

    <p>Har du modtaget kundens RKI papirer?</p>
    <label><input type="radio" name="q2" value="ja" required> Ja</label>
    <label><input type="radio" name="q2" value="nej"> Nej</label>

    <button type="submit">Submit</button>

</form>

<script>

    function validateForm() {
        //'ja' har værdien 0, mens 'nej' har værdien 1.
        // Hvis 1 er cheked på midste en af dem, vil der komme en javascript alert. den returne'false'
        // da den ikke kan komme ud af fuktionen før den returner true, altså begge er 'ja'!
        var q1 = document.getElementsByName("q1");
        var q2 = document.getElementsByName("q2");
        if (q1[1].checked || q2[1].checked) {
            alert("Du kan ikke fortsætte til kreditvalidering, medmindre kundens kreditdokumenter er blevet modtaget.");
            return false;
        }
        return true;
    }
</script>

</body>
</html>
