<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form>

  <label for="customer_first_name">Fornan:</label>
  <input type="text" id="customer_first_name" name="customerName"><br><br>

  <label for="customer_last_name">Efternavn:</label>
  <input type="text" id="customer_last_name" name="customerAddress"><br><br>

  <label for="customer_address">Address:</label>
  <input type="text" id="customer_address" name="customerAddress"><br><br>

  <label for="customer_zip">Post nummer:</label>
  <input type="text" id="customer_zip" name="customerZip"><br><br>

  <label for="customer_phone">Telefon nummer:</label>
  <input type="text" id="customer_phone" name="customerPhone"><br><br>

  <label for="customer_license">Kørekort nummer:</label >
  <input type="text" id="customer_license" name="customerLicense" required><br><br>

  <label for="customer_date">Alder:</label>
  <input type="date" id="customer_date" name="customerDate"><br><br>

  <a href="/CustomerPage">Næste</a>
</form>

</body>
</html>