
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="frontPage.css">

    <script src="https://kit.fontawesome.com/d17da6709b.js"> </script>
</head>
<body>
<div id="menuHeader">
    Bilabonnement.dk
</div>

<a href="/loginPage">
    <button id="login-button"> LOG IND </button>
</a>

<div class="background-video">
    <iframe width="1700" height="1000" src="https://www.youtube.com/embed/5HyDAC5bxwc?autoplay=1&mute=1&loop=100&controls=0" allowfullscreen></iframe>
</div>
<nav>
    <ul>
    </ul>
</nav>

</body>
</html>

