<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="drop.css">

</head>
<body>

<div class="navbar">
  <div id="menuHeader">
    <div class="nav-item">
      <a id="logo" href="#home">Bilabonnement.dk</a>
    </div>
    <div class="vertical-line"></div>
    <div class="links">
      <div class="dropdown nav-item">
        <button class="dropbtn"> Leasing

        </button>
        <div class="dropdown-content">
          <a href="#home">Ledige biler</a>
          <a href="/creditDocumentation">Kreditvalidering</a>

        </div>
      </div>
      <div class="dropdown nav-item">
        <button class="dropbtn">Skade og Udbedring

        </button>
        <div class="dropdown-content">
          <a href="/conditionReportDocumentation">Opret tilstandsrapport</a>
        </div>
      </div>
      <div class="dropdown nav-item">
        <button class="dropbtn">KPI
        </button>
        <div class="dropdown-content">

          <a href="#">KPI over biler</a>
          <a href="#">KPI over økonomi</a>
        </div>
      </div>
      <div class="dropdown nav-item">
        <button class="dropbtn">Efterbehandling

        </button>
        <div class="dropdown-content">
          <a href="/findReviewTarget">Kundeanmeldelse</a>
          <a href="#">Salg af bil </a>
          <a href="#">Auktion </a>

        </div>
      <div class="dropdown nav-item">
        <button class="dropbtn">Personale

        </button>
        <div class="dropdown-content">
          <a href="#">Alle medarbejdere</a>

        </div>
      </div>
    </div>
  </div>
</div>


</div>


</body>
</html>