<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="home.css">

</head>

<div id="menuHeader">
    Bilabonnement.dk
</div>
<button class="dropbtn" id="Leasing-botton" style="margin-top: 40px; color: black;" >Leasing
    <a href="/Skade og Udbedring" style=" color: black;" id="Skade-botton">Skade og Udbedring</a>
    <a href="/Efterbehandling" style=" color: black;" id="Ekstra-botton">Efterbehandling</a>
    <a href="/KPI" style="margin-top: 40px; color: black;" id="KPI-botton">KPI</a>


<div id="positionForlogout">
    <a href="/" class="logout-button">
        <i class="fa-solid fa-right-from-bracket fa-xl" style="color: gray;"></i>
    </a>
</div>

<div class="home-foto">
</div>
<nav>
    <ul>
    </ul>
</nav>

<body>

</body>
</html>