<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="homePage.css">
    <link rel="stylesheet" type="text/css" href="background.css">
    <script src="https://kit.fontawesome.com/d17da6709b.js"> </script>
</head
>

<body>
<div class="foto">
</div>
<div class="car-container" style="display: flex; flex-wrap: wrap;">
    <div th:each="car: ${cars}" class="car-box">
        <div class="car">
            <p class="brand"th:text="${car.car_brand}"></p>
            <p class="model" th:text="${car.car_model}"></p>

            <img th:src="${car.image} "class="image"/>

            <p class="subscription"th:text="${car.subscription_price}"></p>
        </div>
  <!--  <a th:href="@{'/viewCar/'+${car.car_id}}">
        <button-- class="view-car"></i></button>
    </a-->
        <a th:href="@{'/contract/'+${car.car_id}}">
            <button class="contract"></i></button>
        </a>
    </div>
</div>
</body>
</html>