<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/home.css">
    <script src="https://kit.fontawesome.com/d17da6709b.js"> </script>
</head>
<body>
<div id="menuHeader">
    Bilabonnement.dk
</div>
<a href="/Leasing" style="margin-top: 40px; color: black;" id="Leasing-botton">Leasing</a>
<a href="/Skade og Udbedring" style=" color: black;" id="Skade-botton">Skade og Udbedring</a>
<a href="/KPI" style="margin-top: 40px; color: black;" id="KPI-botton">KPI</a>
<a href="/Ekstra" style=" color: black;" id="Ekstra-botton">Ektra</a>


<div id="positionForlogout">
    <a href="/" class="logout-button">
        <i class="fa-solid fa-right-from-bracket fa-xl" style="color: gray;"></i>
    </a>
</div>

<div class="home-foto">
</div>
<nav>
    <ul>
    </ul>
</nav>

</body>
</html>