<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="frontPage.css">
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="stylesheet" type="text/css" href="header.css">
</head>
<body>

<div class="navbar">
    <div id="menuHeader">
    </div>
</div>
<div class="bacground-foto">
</div>


<form action="/loginPage" method = "post"  onsubmit="return validateForm()">
    <label for="staff_member_username"></label>
    <input type="email" id="staff_member_username" class="input-box-email" name="staff_member_username"
           placeholder="               Email" required >  <br> <br><br>
    <label for="staff_member_password"></label>
    <input type="password" id="staff_member_password" class="input-box-password" name="staff_member_password"
           placeholder="             Password" required >
    <button type="submit" class="login-btn">LOGIN </button> <br> <br> <br> <br> <br> <br> <br>
</form>


</body>
</html>