<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/d17da6709b.js"> </script>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="custumer.css">

</head>
<body>
<div id="positionForlogout">
    <a href="/" class="logout-button">
        <i class="fa-solid fa-right-from-bracket fa-xl" id="logout-style"></i>
    </a>
</div>

<div class="navbar">
    <div id="menuHeader" onclick="window.location.href='/homePage'">
        <div class="nav-item">
            <a href="/homePage" id="logo"></a>
        </div>
    </div>

    <div class="links">
        <div class="dropdown nav-item">
            <div th:if="${session.staff_member.member_type_id == 1 || session.staff_member.member_type_id == 4}">
                <button class="dropbtn" id="Leasing-botton"> Leasing
                </button>
            </div>
            <div class="dropdown-content" id="dropdown-1-placement">
                <a href="/carLeasing">Ledige biler</a>
                <a href="/customerPage">Alle kunder</a>
                <a href="/viewLeasedCars/">Alle Kontrakter</a>
            </div>
        </div>

        <div th:unless="${session.staff_member.member_type_id == 1 || session.staff_member.member_type_id == 4}">
            <button disabled class="dropbtn" id="Leasing-botton-disable"> Leasing
            </button>
        </div>


        <div class="dropdown nav-item">
            <div th:if="${session.staff_member.member_type_id == 3 || session.staff_member.member_type_id == 4}">
                <button class="dropbtn" id="Skade-botton" >Skade og Udbedring
                </button>
            </div>

            <div class="dropdown-content" id="dropdown-2-placement">
                <a href="/conditionReportDocumentation" >Opret tilstandsrapport </a>
            </div>
        </div>

        <div th:unless="${session.staff_member.member_type_id == 3 || session.staff_member.member_type_id == 4}">
            <button disabled class="dropbtn" id="Skade-botton-disable"> Skade og Udbedring </button>
        </div>


        <div class="dropdown nav-item">

            <div th:if="${session.staff_member.member_type_id == 2 || session.staff_member.member_type_id == 4}">
                <button class="dropbtn" id="After-botton" >Efterbehandling </button>
            </div>

            <div class="dropdown-content" id="dropdown-3-placement">
                <a href="/findReviewTarget">Kundeanmeldelse</a>
                <a href="/auction">Auktion </a>
            </div>
        </div>

        <div th:unless="${session.staff_member.member_type_id == 2 || session.staff_member.member_type_id == 4}">
            <button disabled class="dropbtn" id="After-botton-disable" >Efterbehandling
            </button>
        </div>

        <div class="dropdown nav-item">
            <div th:if="${session.staff_member.member_type_id == 2 || session.staff_member.member_type_id == 4}">
                <button class="dropbtn" id="KPI-botton">KPI
                </button>
            </div>
            <div class="dropdown-content" id="dropdown-4-placement">
                <a href="/KPICar">KPI over biler</a>
                <a href="#">KPI over økonomi</a>
            </div>
        </div>

        <div th:unless="${session.staff_member.member_type_id == 2 || session.staff_member.member_type_id == 4}">
            <button disabled class="dropbtn" id="KPI-botton-disable">KPI
            </button>
        </div>

        <div class="dropdown nav-item">
            <div th:if="${session.staff_member.member_type_id == 4}">
                <button class="dropbtn" id="Staff-botton" >Personale
                </button>
            </div>
            <div class="dropdown-content" id="dropdown-5-placement">
                <a href="/createStaffMember">Opret ny medarbejder</a>
                <a href="/allStaffMembers">Alle medarbejdere</a>
            </div>
        </div>

        <div th:unless="${session.staff_member.member_type_id == 4}">
            <button disabled class="dropbtn" id="Staff-botton-disable" >Personale
            </button>
        </div>

    </div>
</div>
</div>
</div>
<div class="basic-box">
    <form th:action="@{/payment}" method="post">
        <br><br><br>
        <div class="cd-header"> Betaling</div>
        <br>
        <div class="q1">
            <p style="color: #e27070"> Total pris : <span th:text="${totalPriceForPayment}"/> </p>
            <p style="color: #e27070">Abonnement type: <span th:if="${contract.limited == 1}">
            Limited Abonnement</span><span th:if="${contract.limited == 0}">Unlimited Abonnement</span></p>
        </div>
        <br>
        <div class="q2">
            <p>Vil kunden betale nu?</p>
            <label><input type="radio" name="payed" value="true" required> Ja</label>
            <label><input type="radio" name="payed" value="false"> Nej</label>
        </div>
        <br>
        <div class="q3">
            <p>Hvad er kundens kontonummer?</p>
            <input type="number" name="card_number" class="input-box" placeholder="kontonummer" required><br><br>
        </div>
        <div class="q3">
            <p>Hvad er kundens registreringsnummer?</p>
            <input type="number" name="registration_number" class="input-box" placeholder="registreringsnummer" required><br><br>
        </div>
        <input type="hidden" name="contract_id" th:value="${contract.contract_id}">

        <button type="submit" class="submit-btn" style="margin-top: 0px; margin-left: 590px;">INDSEND</button>
    </form>
</div>
<div class="back-foto"></div>
</body>
</body>
</html>
