<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  VELKOMMEN TIL betaling AF DIN LEASING

</head>
<body>
<form action="/payment" method="post">
    <input type="hidden" name="contract_id" th:value="${contract.contract_id}">

    <p> TOTAL PRICE : <p th:text="${contract.totalPriceForPayment}"/> </p>
    <p>Vil kunden betale nu?</p>

    <label><input type="radio" name="payed" value="1" required> Ja</label>
    <label><input type="radio" name="payed" value="0"> Nej</label>

    <p>Hvad er kundens kontonummer?</p>
    <input type="text" name="card_number" class="input-box" placeholder="kontonummer" required><br><br>

    <p>Hvad er kundens registreringsnummer?</p>
    <input type="text" name="registration_number" class="input-box" placeholder="registreringsnummer" required><br><br>


    <button type="submit" class="submit-btn">Afslut betaling</button><br><br>
</form>

</body>
</html>