<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  VELKOMMEN TIL betaling AF DIN LEASING
</head>

 <body>
    <form th:action="@{/payment}" method="post">
        <p> TOTAL PRICE : <span th:text="${totalPriceForPayment}"/> </p>
        <p>Abonnement type:</p>
        <p th:if="${contract.limited == 1}">Limited Abonnement</p>
        <p th:if="${contract.limited == 0}">Unlimited Abonnement</p>

    <p>Vil kunden betale nu?</p>
    <label><input type="radio" name="payed" value="true" required> Ja</label>
    <label><input type="radio" name="payed" value="false"> Nej</label>

    <p>Hvad er kundens kontonummer?</p>
    <input type="number" name="card_number" class="input-box" placeholder="kontonummer" required><br><br>

    <p>Hvad er kundens registreringsnummer?</p>
    <input type="number" name="registration_number" class="input-box" placeholder="registreringsnummer" required><br><br>

    <input type="hidden" name="contract_id" th:value="${contract.contract_id}">

    <button type="submit" class="submit-btn">SEND</button><br><br>
</form>

</body>
</html>
