<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="review.css">

    <title>Title</title>

</head>

<div id="menuHeader">
    Bilabonnement.dk
</div>
<a href="/Leasing" style="margin-top: 40px; color: black;" id="Leasing-botton">Leasing</a>
<a href="/Skade og Udbedring" style=" color: black;" id="Skade-botton">Skade og Udbedring</a>
<a href="/KPI" style="margin-top: 40px; color: black;" id="KPI-botton">KPI</a>
<a href="/Ekstra" style=" color: black;" id="Ekstra-botton">Ektra</a>


<div id="positionForlogout">
    <a href="/" class="logout-button">
        <i class="fa-solid fa-right-from-bracket fa-xl" style="color: gray;"></i>
    </a>
</div>

<div class="home-foto">
</div>
<nav>
    <ul>
    </ul>
</nav>

    <br><br>

<body>
<h1>Kundens anmeldelse af vores udlejningsservice</h1>

<p>Hvad synes kunden om vores udlejningsservice?</p>

<form action="/reviewSubmitted" method="post">

<div class="rating">
    <input type="radio" id="star1" name="rating" value="1" required/>
    <label for="star1" title="En stjerne"></label>

    <input type="radio" id="star2" name="rating" value="2" required/>
    <label for="star2" title="To stjerner"></label>

    <input type="radio" id="star3" name="rating" value="3" required/>
    <label for="star3" title="Tre stjerner"></label>

    <input type="radio" id="star4" name="rating" value="4" required/>
    <label for="star4" title="Fire stjerner"></label>

    <input type="radio" id="star5" name="rating" value="5" required/>
    <label for="star5" title="Fem stjerner"></label>

    <input type="hidden" id="selectedRating" name="selectedRating" value=""/>
 </div>

  <p>Kunne kunden finde på at bruge vores udlejningsservice igen?</p>
  <label><input type="radio" name="staying_customer" value="1" required> Ja</label>
  <label><input type="radio" name="staying_customer" value="0"> Nej</label>

  <p>Er kunden interesseret i at købe bilen?</p>
  <label><input type="radio" name="buying_customer" value="1" required> Ja</label>
  <label><input type="radio" name="buying_customer" value="0"> Nej</label> <br><br>

    <button type="submit">Indsend</button>

    <input type="hidden" name="contract_id" th:value="${contract.contract_id}">

</form>

<script>
  function setSelectedRating() {
    const selectedRating = document.querySelector('input[name="rating"]:checked').value;
    document.getElementById('selectedRating').value = selectedRating;
  }
</script>

</body>
</html>