<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div th:if="${staff_member.member_type_id == 1}">
  <button> registering </button>
</div>

<div th:unless="${staff_member.member_type_id == 1 || staff_member.member_type_id == 4}">
    <button disabled> registering </button >
</div>
<div th:if="${staff_member.member_type_id == 2}">
    <button> økonomi </button>
</div>

<div th:unless="${staff_member.member_type_id == 2 || staff_member.member_type_id == 4 }">
    <button disabled> økonomi </button >
</div>

<div th:if="${staff_member.member_type_id == 3}">
    <button> condition reporter </button>
</div>

<div th:unless="${staff_member.member_type_id == 3 || staff_member.member_type_id == 4}">
    <button disabled> condition reporter </button >
</div>

<div th:if="${staff_member.member_type_id == 4}">
    <button> Leder </button>
</div>

<div th:unless="${staff_member.member_type_id == 4}">
    <button disabled> Leder </button >
</div>

</body>
</html>