<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="circle">
        <p class="subscriptionPrice"th:text="${subscriptionPrice}"></p>
    </div>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  KPI over økonomi
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Har betalt</th>
        <th>kortnummer</th>
        <th>registeringsnummer</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="payment : ${payedNow}">
        <td th:text="JA"></td>
        <td th:text="${payment.card_number}"></td>
        <td th:text="${payment.registration_number}"></td>
    </tr>
    </tbody>
</table>


<table>
    <thead>
    <tr>
        <th>Har betalt</th>
        <th>kortnummer</th>
        <th>registeringsnummer</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="payment : ${notPayed}">
        <td th:text="NEJ"></td>
        <td th:text="${payment.card_number}"></td>
        <td th:text="${payment.registration_number}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>