<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="wishlist_box">
    <table>
        <tbody>
  <div class="car display">
        <h1 style="color: black"> View wishlist </h1>
          <tr th:each="car:${cars}">
            <td>
                <span th:text="${car_model}"></span>
            </td>
            <td>
                <span  th:text="${car.car_brand}"></span>
            </td>

            <td>
                <span th:text="${car.car_vin}"></span>
            </td>
          </tr>
  </div>



<div class= "contract-display">
    <tr th:each="contract:${contracts}">

        <td>
            <span th:text="${contract.contract_id}"></span>
        </td>
        <td>
                <span th:text="${contract.contract_start_date}"></span>
            </td>
            <td>
                <span th:text="${contract.contract_end_date}"></span>
            </td>
            <td style="display: flex; align-items: center;">
                <a th:href="@{'/deleteContract/'+${contract.contract_id}}">
                    <button class="btn-deleteItem" id="btn-deleteWishlist"><i class="fa-solid fa-trash-can"></i></button>
                </a>
            </td>
        </tr>


</div>
</tbody>
</table>
</div>
</body>
</html>